---
import "@styles/objects/_word-index.scss";
import "@styles/components/_word-group.scss";
import "@styles/plugins/astro-breadcrumbs.scss";

import Layout from "@layouts/Layout.astro";
import { seoData, routeToWord } from "@utils/helpers.ts";
import { fetchAllWordsLinks } from "@services/api.ts";
import type { RootQueryToBerlinerWordConnectionEdge } from "@/gql/graphql";
import { Breadcrumbs } from "astro-breadcrumbs";
import ChevronRight from "~icons/lucide/chevron-right";

async function getGroupedWords(): Promise<Record<string, RootQueryToBerlinerWordConnectionEdge[]>> {
  const allWords = await fetchAllWordsLinks();

  const groupedWords: Record<string, RootQueryToBerlinerWordConnectionEdge[]> = {};

  allWords.forEach(({ node }) => {
    const group = node.wordGroup;
    if (!group) return;

    if (!groupedWords[group]) {
      groupedWords[group] = [];
    }
    groupedWords[group].push(node);
  });

  return groupedWords;
}

const groupedWords = await getGroupedWords();
const sortedGroups = Object.keys(groupedWords).sort();

const content = {
  title: "Berlinerisch Wort-Index - Berlinerisch zu Hochdeutsch",
  seo: {
    opengraphDescription:
      "Alle Berliner Worte in der Übersicht. Lerne mehr über: die Berliner Mundart, Berlinisch, den Berliner Jargon, Berlinerisch & Berolinismus.",
  },
};
---

<Layout content={seoData(content)} contentClasses="o-word-index">
  <Breadcrumbs indexText="Start">
    <ChevronRight slot="separator" width="20" height="20" />
  </Breadcrumbs>

  <h1>Wort-Index</h1>
  {
    sortedGroups.map((group) => (
      <section class="c-word-group">
        <h2 title={group} class="c-word-group__group">
          {group}
        </h2>
        <ul class="c-word-group__list">
          {groupedWords[group].map((word) => (
            <li>
              <a
                href={routeToWord(word.slug)}
                title={`Zur ${word.wordProperties?.berlinerisch} Seite`}
                class="c-word-group__link"
              >
                {word.wordProperties?.berlinerisch}
              </a>
            </li>
          ))}
        </ul>
      </section>
    ))
  }
</Layout>
