---
import "@styles/objects/_word-index.scss";

import Layout from "@layouts/Layout.astro";
import { seoData, routeToWord } from "@utils/helpers";
import { getAllWordsLinks } from "@services/api";

async function getGroupedWords() {
  const allWords = await getAllWordsLinks();
  const groupedWords = {};

  allWords.forEach(({ node }) => {
    const group = node.wordGroup;
    if (!groupedWords[group]) {
      groupedWords[group] = [];
    }
    groupedWords[group].push(node);
  });

  return groupedWords;
}

const groupedWords = await getGroupedWords();
const sortedGroups = Object.keys(groupedWords).sort();

const content = {
  title: "Berliner Dialekt Wörterbuch - Berlinerisch zu Hochdeutsch",
  seo: {
    opengraphDescription:
      "Aktuelles Berlinerisch ➡️ Hochdeutsch Wörterbuch. Lerne mehr über: die Berliner Mundart, Berlinisch, den Berliner Jargon, Berlinerisch & Berolinismus.",
  },
};
---

<Layout content={seoData(content)} contentClasses="o-word-index">
  <h1>Wort-Index</h1>
  {
    sortedGroups.map((group) => (
      <section>
        <h2 title={group}>{group}</h2>
        <ul>
          {groupedWords[group].map((word) => (
            <li>
              <a
                href={routeToWord(word.slug)}
                title={`Zur ${word.wordProperties.berlinerisch} Seite`}
              >
                {word.wordProperties.berlinerisch}
              </a>
            </li>
          ))}
        </ul>
      </section>
    ))
  }
</Layout>
