---
import "@styles/objects/_index.scss";

import Layout from "@layouts/Layout.astro";
import WordOfTheDay from "@components/WordOfTheDay.vue";
import { Picture } from "astro:assets";
import BrownBearRoar from "@assets/images/brown-bear-roar.png";
import { getAllWords } from "@services/api";
import { seoData } from "@utils/helpers";
import WordSearch from "@components/word-search/WordSearch.astro";
import FactCard from "@components/FactCard.astro";
import WordSearchLink from "@components/WordSearchLink.astro";
import "@styles/components/_facts-grid.scss";

const content = {
  title: "Berliner Dialekt Wörterbuch - Berlinerisch zu Hochdeutsch",
  seo: {
    opengraphDescription:
      "Aktuelles Berlinerisch ➡️ Hochdeutsch Wörterbuch. Lerne mehr über: die Berliner Mundart, Berlinisch, den Berliner Jargon, Berlinerisch & Berolinismus.",
    opengraphImage: {
      sourceUrl: BrownBearRoar.src,
    },
  },
};

const facts = [
  {
    headline: "Häufig kürzer als Hochdeutsch",
    text: 'Wir Berliner halten uns kurz, einfache Vokale sprechen wa meist verkürzt aus. Aus "mal" wird z.B. "ma".',
  },
  {
    headline: "Wie verbreitet ist Berlinisch?",
    text: "Längst nicht jeder in Berlin spricht Dialekt. Laut <a href='https://de.statista.com/statistik/daten/studie/1116703/umfrage/verbreitung-berliner-dialekt/'>dieser Umfrage</a> sprechen bis zu <strong>62%</strong> der Berliner im Heimischen Dialekt.",
  },
  {
    headline: "Ausgetauschte Wortendungen",
    text: "Wortendungen auf '-er' werden von uns konsequent durch 'a' ausgetauscht: 'seiner' -> 'seina', 'Alter' -> 'Alta'",
  },
  {
    headline: "Syntaktische Besonderheiten",
    text: "<a href='https://islk.kuwi.tu-dortmund.de/storages/islk-kuwi/r/Personal_Freywald/Literatur/freywald2017_syntax_berlinisch_korrigiert.pdf'>TU Dortmund</a>",
  },
  {
    headline: "Viele Bezeichnungen für ein und das Selbe",
    text: "Der Berliner Metrolekt wird häufig auch als <strong>Berlinisch</strong>, <strong>Berliner Jargon</strong>, <strong>Berlinerisch</strong> oder <strong>Berliner Mundart</strong> bezeichnet.",
  },
  {
    headline: "Ist Berlinerisch ein Dialekt?",
    text: "Sprachwissenschaftlich gesehen ist Berlinerisch kein Dialekt, sondern ein Metrolekt. Eine in großstädtischen Zentren entstehende Stadtsprache.",
  },
];

const allWords = await getAllWords();
---

<Layout content={seoData(content)} contentClasses="o-index">
  <header class="o-index__header">
    <h1 class="o-index__headline">
      Na Keule,<br /> keen'n Dunst vom Berlinern?
    </h1>

    <div class="o-index__image-wrap">
      <Picture
        class="o-index__image"
        src={BrownBearRoar}
        formats={["avif", "webp"]}
        widths={[179, 215, 247, 270, 322, 489, 620, 673, BrownBearRoar.width]}
        alt="Ein Bär der brüllt"
        loading="eager"
      />
    </div>
  </header>

  <WordSearchLink />

  <section class="c-facts-grid">
    <div class="c-facts-grid__headline-wrap">
      <h2 class="c-facts-grid__headline">Fakten zur Berliner Mundart</h2>
    </div>

    <FactCard headline={facts[0].headline} text={facts[0].text} />
    <FactCard headline={facts[1].headline} text={facts[1].text} />
    <FactCard headline={facts[2].headline} text={facts[2].text} />
    <!-- <FactCard headline={facts[3].headline} text={facts[3].text} /> -->
    <FactCard headline={facts[4].headline} text={facts[4].text} />
    <FactCard headline={facts[5].headline} text={facts[5].text} />
    <WordOfTheDay client:only="vue" />
  </section>

  <WordSearch words={allWords} />
</Layout>
