---
import '@styles/components/_word-hero.scss';
import '@styles/components/_word-themen.scss';
import AudioPlayerList from '@components/AudioPlayerList.vue';
import BadgeTag from '@components/BadgeTag.vue';
import IsWordOfTheDay from '@components/word/IsWordOfTheDay.vue';
import WordOptionDropdown from '@components/word/WordOptionDropdown.vue';
import TooltipPopover from '@components/TooltipPopover.vue';
import Tag from '~icons/lucide/tag';
import type { BerlinerWord } from '@/gql/entity-types';

interface Props {
  word: BerlinerWord;
  wordProps: BerlinerWord['wordProperties'];
  wortartLabel: string | undefined;
}

const { word, wordProps, wortartLabel } = Astro.props;
const themen = word.berlinerischThemen?.nodes ?? [];
---

<header
  class='c-word-hero'
  data-track-content
  data-content-name='Word Hero'
  data-content-piece={wordProps?.berlinerisch ?? ''}
  data-content-target={`/wort/${word.slug}`}
>
  <div class='c-word-hero__left'>
    <h1 class='c-word-hero__title'>
      <dfn>{wordProps?.berlinerisch}</dfn>
      {wordProps?.article && <span class='c-word-hero__word-article'>, {wordProps.article}</span>}
    </h1>
    <div class='c-word-hero__badges'>
      {
        wordProps?.berolinismus && (
          <TooltipPopover client:only='vue'>
            <BadgeTag> Berolinismus </BadgeTag>
            <Fragment slot='tooltip'>
              {wordProps?.berlinerisch} gehört zu den Berlinismen.
              <>
                <br />
                <br />
              </>
              <strong>Berolinismus</strong> sind humorvolle Spitznamen und Eigenheiten, die
              bestimmte Orte und Gebäude in Berlin charakterisieren und das lokale Flair der Stadt
              prägen.
            </Fragment>
          </TooltipPopover>
        )
      }
      {wortartLabel && <span class='c-word-hero__wortart-badge'>{wortartLabel}</span>}
      <IsWordOfTheDay
        variant='badge'
        word={wordProps?.berlinerisch ?? null}
        wordId={word.berlinerWordId}
      />
      {
        word.wordProperties?.berlinerischAudio && (
          <AudioPlayerList
            audio={word.wordProperties?.berlinerischAudio}
            client:only='vue'
            isType='berlinerisch'
          />
        )
      }
    </div>
    {
      themen.length > 0 && (
        <div class='c-word-themen'>
          {themen.map((thema) => (
            <a href={`/themen/${thema.slug}`} class='c-word-themen__badge'>
              <Tag height='12' width='12' />
              {thema.name}
            </a>
          ))}
        </div>
      )
    }
  </div>
  <div class='c-word-hero__right'>
    <WordOptionDropdown
      berlinerisch={word.wordProperties?.berlinerisch ?? null}
      client:only='vue'
      slug={word.slug}
    />
  </div>
</header>
