---
import SetColorMode from "@components/SetColorMode.astro";
import { ClientRouter } from "astro:transitions";
import { pwaInfo } from "virtual:pwa-info";

import BerlinBold from "/fonts/Berlin-Bold.woff2";
import BerlinItalic from "/fonts/Berlin-Italic.woff2";
import Berlin from "/fonts/Berlin.woff2";
import BerlinerRegular from "/fonts/BerlinerRegular.woff2";

export interface Seo {
  canonical?: string;
  metaDesc?: string;
  metaRobotsNofollow?: string;
  metaRobotsNoindex?: string;
  opengraphAuthor?: string;
  opengraphDescription?: string;
  opengraphImage?: {
    sourceUrl: string;
  };
  opengraphModifiedTime?: string;
  opengraphPublishedTime?: string;
  opengraphPublisher?: string;
  opengraphSiteName?: string;
  opengraphTitle?: string;
  opengraphType?: string;
  opengraphUrl?: string;
  readingTime?: number;
  title?: string;
  twitterDescription?: string;
  twitterTitle?: string;
}

export interface SeoProps {
  seo: Seo;
  title: Title;
}

export interface Title {
  title: string;
}

const canonicalURL = Astro.url.href;
const { seo, title } = Astro.props as SeoProps & Title;
---

<!-- By Capo.js order -> https://rviscomi.github.io/capo.js/ --><!-- Global Metadata -->
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1" name="viewport" />

<title>
  {seo?.title || title}
</title>

<link as="font" crossorigin href={BerlinerRegular} rel="preload" type="font/woff2" />
<link as="font" crossorigin href={Berlin} rel="preload" type="font/woff2" />
<link as="font" crossorigin href={BerlinBold} rel="preload" type="font/woff2" />
<link as="font" crossorigin href={BerlinItalic} rel="preload" type="font/woff2" />
<link href="//cms.berliner-schnauze.wtf" rel="preconnect" />

<script src="../plugins/sentryBrowser.ts"></script>

<SetColorMode />

<ClientRouter />

<script src="/src/lib/unsupportedBrowser.ts"></script>

{pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
<script src="/src/services/pwa.ts"></script>

<!-- Favicon -->
<link href="/favicons/favicon.ico" rel="icon" sizes="48x48" />
<link href="/favicons/favicon.svg" rel="icon" sizes="any" type="image/svg+xml" />
<link href="/favicons/apple-touch-icon-180x180.png" rel="apple-touch-icon" />
<link color="#303956" href="/favicons/safari-pinned-tab.svg" rel="mask-icon" />

<link href="/sitemap-index.xml" rel="sitemap" />
<link href={canonicalURL} rel="canonical" />

<meta content="#ffffff" name="msapplication-TileColor" />
<meta content={Astro.generator} name="generator" />

<!-- Primary Meta Tags -->

{seo?.opengraphDescription && <meta content={seo?.opengraphDescription} name="description" />}

<!-- Open Graph / Facebook -->
{seo?.opengraphSiteName && <meta content={seo?.opengraphSiteName} property="og:site_name" />}
{seo?.opengraphType && <meta content={seo?.opengraphType} property="og:type" />}
{seo?.opengraphUrl && <meta content={seo?.opengraphUrl} property="og:url" />}
{
  (seo?.opengraphTitle || seo?.title || title) && (
    <meta content={seo?.opengraphTitle || seo?.title || title} property="og:title" />
  )
}
{
  seo?.opengraphDescription && (
    <meta content={seo?.opengraphDescription} property="og:description" />
  )
}
{
  seo?.opengraphImage?.sourceUrl && (
    <meta content={seo?.opengraphImage?.sourceUrl} property="og:image" />
  )
}
<!-- <meta property="og:image:width" content={""} />
<meta property="og:image:height" content={""} />
<meta property="og:image:alt" content={""} />
<meta property="og:image:type" content={""} /> -->

<!-- Twitter -->
<meta content="summary_large_image" property="twitter:card" />
{seo?.opengraphUrl && <meta content={seo?.opengraphUrl} property="twitter:url" />}
{
  (seo?.twitterTitle || seo?.title || title) && (
    <meta content={seo?.twitterTitle || seo?.title || title} property="twitter:title" />
  )
}
{
  (seo?.twitterDescription || seo?.opengraphDescription) && (
    <meta
      content={seo?.twitterDescription || seo?.opengraphDescription}
      property="twitter:description"
    />
  )
}
{
  seo?.opengraphImage?.sourceUrl && (
    <meta content={seo?.opengraphImage?.sourceUrl} property="twitter:image" />
  )
}

<!-- Mastodon -->
<meta content="@berliner_schnauze@mastodon.social" name="fediverse:creator" />
